# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment files
.env

venv/bin
venv/etc
venv/include
venv/lib
venv/share
venv/pyvenv.cfg
# Ignore Streamlit secrets (local only)
.streamlit/secrets.toml
export/
venv/
audit_log.json
saved_session.json
logs.json
users.json