streamlit
pandas
numpy
openpyxl            
xlrd                  
xmltodict             
python-magic-bin       
pyyaml                 
transformers
sentencepiece        
accelerate
langchain
langchain-core
langchain-community
tqdm
nltk
openai
scikit-learn
ollama                   
httpx                 
python-dotenv         
loguru                  
langchain-ollama
tabulate
